* {
  background: gainsboro;
  color: black;
  font-family: Poppins;
}

.App {
/* display: grid; */
  /* text-align: center; */
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 60px;
  color: #000;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.search-bar {
  border: 1px solid black;
  width: 50%;
  height: 30px;
  padding: 10px;
  
}



ion-icon {
  font-size: 30px;
  background: #000;
  cursor: pointer;
  color: white;
}

button {
  border: none;
  padding: 0;
height: 30px;
}

.header-text{
  text-align: center;
}



.container {
 display: inline-block;
 justify-content: space-around;
 margin: 0;
 
}

.smiley{
  font-size: 30px;
}


@media (max-width: 568px) {
  .search-bar {
    border: 1px solid black;
    width: 70%;
    height: 30px;
    padding: 10px;
  } 
  .container {
    display: grid;
  
  
   }
  
   .smiley{
     font-size: 20px;
   }
}